# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
venv/
.venv/
env/

# Environment
.env
.env.local
.env.*.local

# Node
node_modules/
.next/
out/
.vercel

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# AWS
.aws-sam/
samconfig.toml

# Testing
.coverage
htmlcov/
.pytest_cache/
